h1 {font-family:Tahoma;
	color:black;
	font-weight:normal;
	margin:24px 24px 24px 24px;
	text-align:center;
	}
h2 {
	font-family:Tahoma;
	font-weight:lighter;
	font-size: 16pt;
	text-align: right;
	margin-right:15%;
}
a {

}
p {
	font-family:Palatino,serif;
	margin-left:20%;
	margin-right:20%;
	text-indent: 36px;
}
#mypic img {
	width: auto;
	height: auto;
	max-width: 500px;
	max-width: 500px;
	border: 6px double #b3b3b3;

}
body {
	background-color: #ccfffc;
}
