h1 {font-family:Tahoma;
	color:black;
	font-weight:normal;
	margin: 20px 20%;
	text-align:center;
	background-size: 80px 40px;
	background-color: #e5f8ff;
	}
h2 {
	font-family:Tahoma;
	font-weight:lighter;
	font-size: 16pt;
	text-align: right;
	margin-right:15%;
}
.mainlinks a:link {
	color: white;
	background-color: #4d88ff;
	border: 3px solid #b3b3b3;
	padding: 8px;
	text-decoration: none;
}
.mainlinks a:visited {
	color: white;
	background-color: #99bbff;
	border: #999999;
	padding: 8px;
	text-decoration: none;
}
.mainlinks a:hover {
	text-decoration: underline;
}
.mainlinks a:active {
	text-decoration: underline;
}
p {
	font-family:Palatino,serif;
	margin-left:10px;
	margin-right:20px;
	text-indent: 36px;
}
#biotext {

}
.mypic img {
	width: auto;
	height: auto;
	max-width: 500px;
	max-width: 500px;
	border: 3px solid #b3b3b3;
	float:left;
	margin: 0px 16px;
}
body {
	background-color: #b3ecff;
}
#resumehead {
	font-family:Georgia;
	text-align:left;
	background-color: white;
}
#resumestyle {
	margin: 24px 36px;
	background-color: white;
	border: 2px solid #b3b3b3;
	text-align:left;
}
.rheader {
	font-family: Georgia;
	font-style: italic;
	text-align:left;
	margin-left: 36px;
}
.rpars {
	font-family: Georgia;
	text-align:left;
	margin-left: 36px;
	text-indent: 24px;
}

.descriptor {
	font-style: italic;
	font-weight: lighter;
	font-size: 10pt;
	text-indent: 54px;

}

ul {
	margin-left: 24px
}
